<!-- CORONA SECTION -->
<section id="corona" class="py-2">
    <div class="container">
        <div class="card card-body mb-3">
            <div>
                <tabset #staticTabs>

                    <tab heading="{{ 'CORONA.TabGlobal' | translate }}">
                        <div class="col-md-6">
                            <div class="card p-6">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div *ngIf="apiWaiting">
                                            <fa-icon class="fa-spin fa-3x mb-2" [icon]="faSpinner"></fa-icon>
                                            <h4>{{ 'CORONA.MessageApiWaiting' | translate }}</h4>
                                        </div>
                                        <div *ngIf="apiError">                                            
                                            <h4>{{ 'CORONA.MessageApiError' | translate }}</h4>
                                        </div>
                                        <div class="py-3" *ngIf="coronaGlobalNumbers">
                                            <p>
                                                {{ 'CORONA.LabelGlobalLatestUpdate' | translate }}:<br>
                                                {{ globalLastUpdate }}
                                            </p>
                                            <p>
                                                {{ 'CORONA.LabelGlobalAffectedCountries' | translate }}:
                                                {{ coronaGlobalNumbers.affectedCountries }}
                                            </p>
                                            <p>
                                                {{ 'CORONA.LabelGlobalCases' | translate }}:
                                                {{ coronaGlobalNumbers.cases }}
                                            </p>
                                            <p>
                                                {{ 'CORONA.LabelGlobalDeaths' | translate }}:
                                                {{ coronaGlobalNumbers.deaths }}
                                            </p>
                                            <p>
                                                {{ 'CORONA.LabelGlobalRecovered' | translate }}:
                                                {{ coronaGlobalNumbers.recovered }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="{{ 'CORONA.TabCountryStatus' | translate }}">
                        <div class="col-md-6">
                            <div class="card p-6">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select (change)="getCountryDetails($event.target.selectedIndex)"
                                                class="custom-select" aria-describedby="button-countrydetail"
                                                #thisCountry>
                                                <option *ngFor="let country of coronaCountries">
                                                    {{country.country}}
                                                </option>
                                            </select>
                                            <div *ngIf="!countryHistorical" class="input-group-append">
                                                <button (click)="getHistory()" class="btn btn-danger" type="button"
                                                    id="button-countrydetail">{{ 'CORONA.ButtonGetHistoryData' | translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="py-3" *ngIf="coronaCountry">
                                        <p>
                                            {{ 'CORONA.LabelCountryLatestUpdate' | translate }}:<br>
                                            {{ countryLastUpdate }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTodayCases' | translate }}:
                                            {{ coronaCountry.todayCases }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTodayDeaths' | translate }}:
                                            {{ coronaCountry.todayDeaths }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTotalCases' | translate }}: {{ coronaCountry.cases }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTotalDeaths' | translate }}:
                                            {{ coronaCountry.deaths }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTotalRecovered' | translate }}:
                                            {{ coronaCountry.recovered }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTotalActive' | translate }}:
                                            {{ coronaCountry.active }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryTotalCritical' | translate }}:
                                            {{ coronaCountry.critical }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryPerMillionCases' | translate }}:
                                            {{ coronaCountry.casesPerOneMillion }}
                                        </p>
                                        <p>
                                            {{ 'CORONA.LabelCountryPerMillionDeaths' | translate }}:
                                            {{ coronaCountry.deathsPerOneMillion }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab *ngIf="countryHistorical"
                        heading="{{ 'CORONA.TabGraphData' | translate }} {{ coronaCountry.country }}">
                        <div>
                            <div style="display: block">
                                <canvas baseChart [datasets]="coronaChartData" [labels]="coronaChartLabels"
                                    [options]="coronaChartOptions" [legend]="coronaChartLegend"
                                    [chartType]="coronaChartType">
                                </canvas>
                            </div>
                        </div>
                    </tab>

                </tabset>
            </div>
        </div>
    </div>
</section>